.popup__title {
  font-size: 24px;
  line-height: 1.21;
  font-weight: 900;
  color: #000000;
  margin-top: 0;
  margin-bottom: 48px;
}

@media screen and (max-width: 940px) {
  .popup__title {
    font-size: 18px;
    line-height: 1.22;
    margin-bottom: 76px;
  }
}