.profile__avatar-container {
  background-image: url(../../../images/profile-avatar-edit.svg);
  background-color: #000;
  background-position: center;
  background-size: 26px;
  background-repeat: no-repeat;
}