.footer {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

@media screen and (max-width: 940px) {
  .footer {
    max-width: 282px;
    margin-bottom: 36px;
  }
}