.profile {
  max-width: 880px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 940px) {
  .profile {
    max-width: 282px;
    margin-top: 42px;
    margin-bottom: 36px;
    flex-direction: column;
  }
}